#resume-image {
  float: left;
  height: 722px;
  width: 955px;
}
#resume-title {
  margin-left: 100px;
  margin-bottom: 40px;
}
#resume-header {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
}
#resume-button {
  float: left;
}

#comment-text-area {
  width: 100%;
}
.border-box {
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 10px;
}
#photo {
  height: 600px;
  width: 500px;
}
.pp {
  padding: 20px;
}
.hh {
  margin-top: 10px;
  margin-left: 100px;
}

.feedback-box {
  float: right;
  top: 78px;
  margin-top: 65px;
  margin-right: 150px;
  max-width: 500px;
  height: 63vh;
  overflow-y: auto;
}

.feedback-submit {
  float: right;
  top: 78px + 68vh;
  margin-right: 139px;
  margin-top: 20px;
  width: 495px;
}

.submit-buttons {
  margin-bottom: 20px;
}
