h4{
  text-align: center;
  margin-top: 20px;
}
.pic{
    margin-top: 20px;
    margin-left: 150px;
    float: left;
    width: 200px;
    height: 200px;
    padding: 0px;
  }
  .Apps {
    float: right;
    margin-right: 100px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    
  }
  #info{
    float: left;
  }
  .oldPosts{
  float: left;
  margin-left: 100px;
  margin-top: 20px;  
  }